services:
  api:
    build: .
    container_name: medbridge_api
    image: medbridge-api:latest
    ports:
      - "8000:8000"
    volumes:
      - .:/app
    env_file:
      - .env
    depends_on:
      - db

  db:
    image: postgres:16
    container_name: medbridge_db
    environment:
      POSTGRES_USER: medbridge
      POSTGRES_PASSWORD: medbridge123
      POSTGRES_DB: medbridge_db
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

volumes:
  postgres_data:
